extends ../layout

block content
    div.container
        form.form-horizontal(action="/admin/cate/edit", method="post", enctype="multipart/form-data")
            input(type="hidden", name="id", value=id)
            input(type="hidden", name="icon", value=info.icon)
            div.form-group
                div.col-sm-2.control-label 图标
                div.col-sm-10
                    input(type="file", name="pic")
            //img(src=info.thumb alt="暂未上传头像" width="40px")
            div.form-group
                div.col-sm-2.control-label 分类名
                div.col-sm-10
                    input.form-control(type="text", name="name", placeholder="请输入" value=info.name)
            div.form-group
                div.col-sm-2.control-label 排序
                div.col-sm-10
                    input.form-control(type="number", name="sort", placeholder="请输入" value=info.sort)
            div.form-group
                div.col-sm-2.control-label 是否首页展示
                div.col-sm-10
                    label.radio-inline
                        input#inlineRadio1(type='radio', name='isindexshow', value=1, checked=info.isindexshow==1?true:false)
                        |  是
                    label.radio-inline
                        input#inlineRadio2(type='radio', name='isindexshow', value=0, checked=info.isindexshow==0?true:false)
                        |  否
            div.form-group
                div.col-sm-2.control-label 描述
                div.col-sm-10
                    input.form-control(type="tel", name="describe", placeholder="请输入" value=info.describe)
            div.form-group
                div.col-sm-offset-2.col-sm-10
                    input.btn.btn-success(type="submit" value="确认")